[submodule "services/AI/ai-job-search"]
	path = services/AI/ai-job-search
	url = https://github.com/zakaria1193/ai-job-search.git
	branch = fadlis/chloe
[submodule "services/AI/arrMcpAI/arr-mcp"]
	path = services/AI/arrMcpAI/arr-mcp
	url = https://github.com/zakaria1193/arr-mcp.git
