services:

  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    network_mode: host

    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
      # Optional - alternative address used for autodiscovery
      JELLYFIN_PublishedServerUrl: http://media.zakariafadli.com/

    volumes:
      - ./jellyfin:/config
      - ./jellyfin_cache:/cache
      - ${TVDIR}:/tv
      - ${MOVIESDIR}:/movies
      - ${BOOKSDIR}:/books
      - ${BOOKSDIR_WORK_PDFS}:/books/work_pdfs

    restart: unless-stopped

    # Optional - may be necessary for docker healthcheck to pass if running in host network mode
    extra_hosts:
      - "host.docker.internal:host-gateway"

  sonarr:
    container_name: sonarr
    image: linuxserver/sonarr
    restart: unless-stopped
    ports:
      - "8989:8989"
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
    volumes:
      - ./sonarr:/config
      - ${DLDIR}/complete:/downloads/complete
      - ${TVDIR}:/tv
      - /etc/localtime:/etc/localtime:ro

  radarr:
    container_name: radarr
    image: linuxserver/radarr
    restart: unless-stopped
    ports:
      - "7878:7878"
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
    volumes:
      - ./radarr:/config
      - ${DLDIR}/complete:/downloads/complete
      - ${MOVIESDIR}:/movies
      - /etc/localtime:/etc/localtime:ro

  readarr:
    image: linuxserver/readarr:0.4.19-nightly
    container_name: readarr
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
    volumes:
      - ./readarr:/config
      - ${DLDIR}/complete:/downloads/complete
      - ${BOOKSDIR}:/books
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "8787:8787"
    restart: unless-stopped

  transmission:
    image: linuxserver/transmission
    container_name: transmission
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
      # TRANSMISSION_WEB_HOME: /combustion-release/  # optional
    volumes:
      - ./tansmission:/config
      - ${DLDIR}:/downloads
    ports:
      - "9091:9091"
      - "51413:51413"
      - "51413:51413/udp"
    restart: unless-stopped

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
    volumes:
      - ./prowlarr:/config
    ports:
      - "9696:9696"
    restart: unless-stopped
