- id: '1664920085635'
  alias: Co2 too high
  description: ''
  triggers:
  - trigger: numeric_state
    entity_id:
    - sensor.max_co2_sensors_of_house
    above: 1500
  - trigger: time_pattern
    minutes: '10'
  conditions:
  - condition: time
    after: 07:00:00
    before: 00:00:00
    alias: Not at night
  - type: is_carbon_dioxide
    condition: device
    device_id: 643cb0a9be7a1ce76dbb0f743f7ecf23
    entity_id: 56600a476423da6458e268aeceb979c5
    domain: sensor
    above: 1500
  - type: is_temperature
    condition: device
    device_id: 60923d5b087e39c087475d0f4ebfc971
    entity_id: 7560ed3b693a0ff0345078c798a38e48
    domain: sensor
    above: 1500
  actions:
  - action: script.broadcast_tts
    data:
      text_to_broadcast: "{% set bedroom_co2 = (states.sensor.chaville_bedroom_nws_co2.state
        | int / 100) * 100 %} {% set living_co2 = (states.sensor.chaville_living_room_nws_co2.state
        | int / 100) * 100 %} {% if bedroom_co2 > 2000 or living_co2 > 2000 %}\n  CO
        2 levels are dangerously high! Bedroom: {{ bedroom_co2 }} ppm, Living Room:
        {{ living_co2 }} ppm.\n{% elif bedroom_co2 > 1600 or living_co2 > 1600 %}\n
        \ CO 2 levels are very high. Bedroom: {{ bedroom_co2 }} ppm, Living Room:
        {{ living_co2 }} ppm.\n{% elif bedroom_co2 > 1499 or living_co2 > 1499 %}\n
        \ CO 2 levels are high. Bedroom: {{ bedroom_co2 }} ppm, Living Room: {{ living_co2
        }} ppm.\n{% else %}\n  CO 2 levels are within a safe range.\n{% endif %}"
  mode: single
- id: '1686177045029'
  alias: Too hot upstairs open windows
  description: ''
  triggers:
  - type: temperature
    device_id: 60923d5b087e39c087475d0f4ebfc971
    entity_id: sensor.chaville_indoor_temperature
    domain: sensor
    above: 25
    for:
      hours: 0
      minutes: 5
      seconds: 0
    trigger: device
  conditions:
  - condition: and
    conditions:
    - type: is_temperature
      condition: device
      device_id: 643cb0a9be7a1ce76dbb0f743f7ecf23
      entity_id: sensor.chaville_living_room_nws_temperature
      domain: sensor
      above: 23
    - type: is_temperature
      condition: device
      device_id: 464d9d1e5817b662a6d91f91af09ee8c
      entity_id: sensor.chaville_living_room_nws_outdoor_temperature
      domain: sensor
      below: 22
  actions:
  - action: script.broadcast_tts
    metadata: {}
    data:
      text_to_broadcast: Too hot upstairs. Open windows to let heat escape
  mode: single
- id: '1740959466617'
  alias: Turn off heater if too hot upstairs
  description: ''
  triggers:
  - trigger: numeric_state
    entity_id:
    - sensor.chaville_bedroom_nws_temperature
    above: 21
  conditions:
  - condition: numeric_state
    entity_id: sensor.naema_3_micro_25_thermostat_temperature_z1
    below: sensor.naema_3_micro_25_central_heating
    above: 18
  actions:
  - action: script.broadcast_tts
    metadata: {}
    data:
      text_to_broadcast: Bedroom is warm enough ! {{states.sensor.chaville_bedroom_nws_temperature.state}}
        degrees celcius. close the valve to save energy
  mode: single
- id: '1740962244165'
  alias: Absence detected
  description: ''
  triggers:
  - trigger: numeric_state
    entity_id:
    - sensor.max_noise_sensors_of_house
    below: 37.7
    for:
      hours: 0
      minutes: 20
      seconds: 0
  conditions:
  - condition: state
    entity_id: input_boolean.presence_estimator
    state: 'on'
    for:
      hours: 0
      minutes: 30
      seconds: 0
    enabled: true
  - condition: not
    conditions:
    - condition: zone
      entity_id: person.zakaria
      zone: zone.home
    - condition: template
      value_template: "value_template: >\n          {{ (as_timestamp(now()) - as_timestamp(states.binary_sensor.netatmo_presence_gb00288_motion_sensor.last_changed))
        < 600 }}"
      alias: Motion in last 600 seconds (10 min)
      enabled: true
    - condition: and
      conditions:
      - condition: state
        entity_id: sensor.chaville_living_room_nws_co2
        state: unavailable
      - condition: state
        entity_id: sensor.chaville_bedroom_nws_co2
        state: unavailable
      alias: Co2 data unavailable
    - condition: and
      conditions:
      - condition: state
        entity_id: sensor.chaville_living_room_nws_noise
        state: unavailable
      - condition: state
        entity_id: sensor.chaville_bedroom_nws_noise
        state: unavailable
      alias: noise data unavailable
    - condition: numeric_state
      entity_id: sensor.max_co2_sensors_of_house
      above: 600
    enabled: true
  actions:
  - action: input_boolean.turn_off
    metadata: {}
    data: {}
    target:
      entity_id: input_boolean.presence_estimator
  - if:
    - condition: state
      entity_id: input_boolean.automated_absence_detection_enable
      state: 'on'
    then:
    - action: switch.turn_off
      metadata: {}
      data: {}
      target:
        entity_id: switch.presence_outlet_gateway
    - action: script.broadcast_tts
      metadata: {}
      data:
        language: en
        text_to_broadcast: Absence detected
    else:
    - action: notify.mobile_app_cph2569
      metadata: {}
      data:
        message: Absence detected, but without consequences
  mode: single
- id: '1741553894390'
  alias: Presence detector
  description: ''
  triggers:
  - trigger: time_pattern
    minutes: /10
  - trigger: numeric_state
    entity_id:
    - sensor.max_noise_sensors_of_house
    above: 37.7
  conditions:
  - condition: state
    entity_id: input_boolean.presence_estimator
    state: 'off'
    for:
      hours: 0
      minutes: 30
      seconds: 0
  - condition: or
    conditions:
    - condition: zone
      entity_id: person.zakaria
      zone: zone.home
    - condition: numeric_state
      entity_id: sensor.max_co2_sensors_of_house
      above: 800
    - condition: template
      value_template: "value_template: >\n          {{ (as_timestamp(now()) - as_timestamp(states.binary_sensor.netatmo_presence_gb00288_motion_sensor.last_changed))
        < 600 }}"
      alias: Motion in last 600 seconds (10 min)
      enabled: true
  actions:
  - action: script.broadcast_tts
    metadata: {}
    data:
      text_to_broadcast: Presence detected
    enabled: true
  - action: switch.turn_on
    metadata: {}
    data: {}
    target:
      entity_id: switch.presence_outlet_gateway
  - action: input_boolean.turn_on
    metadata: {}
    data: {}
    target:
      entity_id: input_boolean.presence_estimator
  mode: single
- id: '1741557371814'
  alias: Actions based on presence
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - switch.presence_outlet_gateway
    from: 'on'
    to: 'off'
  - trigger: state
    entity_id:
    - switch.presence_outlet_gateway
    from: 'off'
    to: 'on'
  conditions: []
  actions:
  - choose:
    - conditions:
      - condition: state
        entity_id: switch.presence_outlet_gateway
        state: 'off'
      sequence:
      - parallel:
        - alias: Announce in TTS
          action: script.broadcast_tts
          metadata: {}
          data:
            text_to_broadcast: Turning off everything including hot water and heating.
              Press home button if you are still home.
            language: en
        - type: turn_off
          device_id: 23c8fb9a2107411ba0fa91c39074b400
          entity_id: 6baa8b0bf28c488f84f9c903d957b26c
          domain: switch
        - action: media_player.turn_off
          metadata: {}
          data: {}
          target:
            floor_id:
            - 1st_floor
            - 2nd_floor
        - action: climate.set_hvac_mode
          metadata: {}
          data:
            hvac_mode: 'off'
          target:
            entity_id: climate.naema_3_micro_25_central_heating
          enabled: true
          alias: Shutoff thermostat (too radical)
        - action: switch.turn_off
          metadata: {}
          data: {}
          target:
            entity_id: switch.naema_3_micro_25_domestic_hot_water
          alias: Turn off hot water
        - action: light.turn_off
          metadata: {}
          data:
            transition: 0.1
          target:
            floor_id:
            - 2nd_floor
            - 1st_floor
      alias: Absence Actions
    - conditions:
      - condition: state
        entity_id: switch.presence_outlet_gateway
        state: 'on'
      sequence:
      - action: script.broadcast_tts
        metadata: {}
        data:
          text_to_broadcast: Turning thermostat back on if needed
          language: en
      - action: climate.set_hvac_mode
        metadata: {}
        data:
          hvac_mode: heat
        target:
          entity_id: climate.naema_3_micro_25_central_heating
      - action: switch.turn_on
        metadata: {}
        data: {}
        target:
          entity_id: switch.naema_3_micro_25_domestic_hot_water
        alias: Turn On HOT water
      - alias: if night time
        if:
        - condition: sun
          before: sunrise
          after: sunset
        then:
        - action: light.turn_on
          metadata: {}
          data:
            color_temp_kelvin: 2335
            brightness_pct: 54
            transition: 10
          target:
            entity_id: light.living_room_2
      alias: Presence Actions
  mode: single
- id: '1757457362580'
  alias: NLDC toggle button automation
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - event.nldc_button_4
  conditions: []
  actions:
  - action: light.toggle
    metadata: {}
    data:
      transition: 1
      color_temp_kelvin: 2000
      brightness_pct: 100
    target:
      entity_id: light.living_room_2
  mode: single
- id: '1757458070107'
  alias: NLDC Button 1 automation
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - event.nldc_button_1
  conditions: []
  actions:
  - action: light.turn_on
    metadata: {}
    data:
      flash: long
      rgb_color:
      - 0
      - 17
      - 255
      transition: 0.5
    target:
      entity_id: light.living_room_2
  mode: single
- id: '1757458177134'
  alias: NLDC Button 2 automation
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - event.nldc_button_2
  conditions: []
  actions:
  - action: light.turn_on
    metadata: {}
    data:
      flash: long
      rgb_color:
      - 255
      - 0
      - 208
      transition: 0.5
    target:
      entity_id: light.living_room_2
  mode: single
- id: '1757628056424'
  alias: NLDC Button 3 automation
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - event.nldc_button_3
  conditions: []
  actions:
  - action: scene.turn_on
    metadata: {}
    data:
      transition: 1
    target:
      area_id: living_room
  mode: single
- id: '1757880984910'
  alias: Morning commute update
  description: ''
  triggers:
  - at: 08:59:00
    trigger: time
  conditions:
  - condition: time
    weekday:
    - mon
    - tue
    - wed
    - thu
    - fri
  actions:
  - action: script.announce_next_bus_train
    data: {}
    enabled: false
  - if:
    - type: is_problem
      condition: device
      device_id: 9d499a8b4ec647e5f7b596c4c03560f2
      entity_id: 36856551ceb79944d5e666c78fcecc3a
      domain: binary_sensor
    then:
    - action: light.turn_on
      metadata: {}
      data:
        rgb_color:
        - 254
        - 16
        - 16
        brightness_pct: 26
      target:
        entity_id: light.desk_sconce
  mode: single
- id: '1758657128993'
  alias: 'Reminder: Take out big trash '
  description: 'Every last friday of the month

    '
  triggers:
  - at: '21:00:00'
    trigger: time
  conditions:
  - condition: template
    value_template: '{% set today = now().date() %} {% set tomorrow = today + timedelta(days=1)
      %} {% set weekday = tomorrow.weekday() %}  # Monday=0, Friday=4 {{ weekday ==
      4 and (tomorrow + timedelta(days=7)).month != tomorrow.month }}

      '
  actions:
  - action: script.broadcast_tts
    data:
      language: fr
      text_to_broadcast: Take out the bulky trash. Tomorrow is the last friday of
        the month
  mode: single
